@import "https://fonts.googleapis.com/css?family=Raleway:100,400,300,500,600,700|Poppins:300,400,600,700|Montserrat:400,700";

// @import "../../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap";
@import 'custom-variables';
@import "bootstrap4/bootstrap";

@import "foundry/flexslider";
@import "foundry/lightbox.min";
@import "foundry/ytplayer";
@import "_foundry";
@import "_spacing";

@import "fonts/font-awesome";
@import "fonts/themify-icons";
@import "fonts/socialicious";
@import "fonts/pe-icon-7-stroke";
@import "fonts/et-line-icons";

h1,
h2,
h3,
h4,
h5,
h6 {
  &.raleway {
    font-family: "Raleway", $base-font;
    font-weight: 100;
  }
  &.montserrat {
    font-family: "Montserrat", $base-font;
    font-weight: 400;
  }
}

h4,
h5,
h6 {
  &.raleway {
    font-weight: 400;
  }
}

a {
  font-weight: 300;
}

.close-spacing {
  letter-spacing: 0 !important;
}

.text-white {
  color: #fff;
}

.enddot {
  &:after {
    content: ".";
    font-family: "Montserrat", $base-font !important;
    color: $color-primary;
    font-size: 1.1em;
    line-height: 1rem;
  }
}

.enddot-white {
  @extend .enddot;

  &:after {
    color: #fff;
  }
}

hr.div {
  border-width: 1px;
  width: 45px;
  margin: 24px auto;
  border-color: $color-primary;
  opacity: 1;

  &.div-left {
    margin-left: 0;
  }

  @include media-breakpoint-up(sm) {
    &.div-left-sm {
      margin-left: 0;
    }
  }

  &.div-white {
    border-color: #fff;
  }
}

// Team
.team-slick {
  margin: 0;

  .person {
    position: relative;
    outline: none;
    overflow: hidden;
    padding: 0 8px;

    @include media-breakpoint-down(sm) {
      padding: 0;
    }

    .person-img {
      position: relative;
      overflow: hidden;

      .person-contact {
        position: absolute;
        // background: rgba($bg-dark, .4);
        background: linear-gradient(to top, rgba($bg-dark, .8), rgba($bg-dark, 0));
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        transition: all .3s ease;
        transform: translateY(10%);

        .inner {
          position: absolute;
          // top: 50%;
          bottom: 0;
          left: 50%;
          transform: translate3d(-50%, 0, 0);
        }

        a {
          span {
            color: #fff;
            transition: all .3s ease;
          }

          &:hover span {
            color: $color-primary;
          }
        }
      }
    }

    &:hover {
      .person-contact {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  .arrow-prev,
  .arrow-next {
    position: absolute;
    background: none;
    font-size: 5em;
    border: 0;
    margin: 0;
    padding: 0;
    transition: all .3s ease;
    // z-index: 2000;
    bottom: -18px;
    outline: none;
    color: $bg-dark;

    span {
      transition: all .3s ease;
    }
  }

  .arrow-prev {
    left: 0;

    &:hover {
      span {
        transform: translateX(-10px);
      }
    }
  }

  .arrow-next {
    right: 0;

    &:hover {
      span {
        transform: translateX(10px);
      }
    }
  }

  // .arrow-prev

  .slick-dots {
    position: static;
    margin: 2em auto;
  }

  .slick-dots li button {
    border: 1px solid $bg-dark;
    border-radius: 100%;
    width: 12px;
    height: 12px;

    &:before {
      position: absolute;
      font-size: 0;
      content: '';
      width: 6px;
      height: 6px;
      background: $bg-dark;
      border-radius: 100%;
      top: 3px;
      left: 3px;
      opacity: 0;
      transition: all .3s ease;
    }

    &:hover:before {
      opacity: 1;
    }
  }

  .slick-dots li.slick-active button:before {
    opacity: 1;
    background: $color-primary;
  }
}

.map-canvas {
  a[href^="http://maps.google.com/maps"]{display:none !important}
  a[href^="https://maps.google.com/maps"]{display:none !important}

  .gmnoprint a,
  .gmnoprint span,
  .gm-style-cc {
    display: none;
  }

  .gmnoprint div {
    background: none !important;
  }
}

.contact-info {
  background: rgba($bg-dark, .85);

  .form-error,
  .form-success {
    margin: 0 auto 1rem;
  }

  input[type="text"],
  input[type="password"],
  textarea {
    outline: none;
    background: rgba($bg-dark, .1);
    border: 2px solid lighten($bg-dark, 5);
    color: #fff;

    &:focus {
      border-color: lighten($bg-dark, 20);
    }
  }
}
