@import "http://fonts.googleapis.com/css?family=Raleway:100,400,300,500,600,700|Poppins:300,400,600,700|Montserrat:400,700";

// @import 'custom-variables';
// @import "../../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "bootstrap4/bootstrap";

@import "foundry/flexslider";
@import "foundry/lightbox.min";
@import "foundry/ytplayer";
@import "_foundry";

@import "fonts/font-awesome";
@import "fonts/themify-icons";
@import "fonts/socialicious";
@import "fonts/pe-icon-7-stroke";
@import "fonts/et-line-icons";

h1,
h2,
h3,
h4,
h5,
h6 {
  &.raleway {
    font-family: "Raleway", $base-font;
    font-weight: 100;
  }
  &.montserrat {
    font-family: "Montserrat", $base-font;
    font-weight: 400;
  }
}

h4,
h5,
h6 {
  &.raleway {
    font-weight: 400;
  }
}

a {
  font-weight: 300;
}

.close-spacing {
  letter-spacing: 0 !important;
}

.text-white {
  color: #fff;
}

.enddot {
  &:after {
    content: ".";
    font-family: "Montserrat", $base-font !important;
    color: $color-primary;
    font-size: 1.2em;
    line-height: 1rem;
  }
}

.enddot-white {
  @extend .enddot;

  &:after {
    color: #fff;
  }
}

hr.div {
  border-width: 2px;
  width: 60px;
  margin: 24px auto;
  border-color: $color-primary;
  opacity: 1;

  &.div-left {
    margin-left: 0;
  }

  &.div-right {
    margin-right: 0;
  }

  &.div-white {
    border-color: #fff;
  }
}

// Team
.team-slider {
  .person {
    position: relative;
    outline: none;
    overflow: hidden;

    .person-img {
      position: relative;

      .person-contact {
        position: absolute;
        background: rgba($bg-dark, .6);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        transition: all .3s ease;

        .inner {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate3d(-50%, -50%, 0);
        }
      }
    }

    .person-info {
      padding: 24px;
      color: #fff;
    }

    &:hover {
      .person-contact {
        opacity: 1;
      }
    }
  }

  .owl-nav {
    margin-top: 10px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;

    [class*='owl-'] {
      display: inline-block;
      cursor: pointer;
      position: absolute;
    	display: inline-block;
    	font-size: 3em;
      color: $bg-dark;
      border: 2px solid $bg-dark;
      border-radius: 100%;
      transition: all .2s ease;

      &:hover {
        border-color: $color-primary;
        color: $color-primary;
      }
    }

    .disabled {
      opacity: 0.5;
      cursor: default;
    }

    &.disabled + .owl-dots {
      margin-top: 10px;
    }

    .owl-prev {
      left: -50px;
      top: 50%;
      transform: translateY(-50%);
    }

    .owl-next {
      right: -50px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;

    .owl-dot {
      display: inline-block;
      zoom: 1;
      *display: inline;
    }

    .owl-dot span {
      position: relative;
      width: 14px;
      height: 14px;
      margin: 8px;
      border-top: 2px solid $bg-dark;
      background: none;
      display: block;
      transition: all .2s ease;
    }

    .owl-dot.active span,
    .owl-dot:hover span {
      border-color: $color-primary;
    }
  }
}


// Maps contact
// @include media-breakpoint-down(sm) {
  .contact-info {
    background: rgba($bg-dark, .7);
  }
// }
