.nav-container
  a#top
  nav.absolute.transparent
    .nav-bar
      .module.left
        a(href="/", style="margin-right:20px")
          img.logo.logo-light(alt="Foundry", src="/assets/images/afxlogo2-white.svg", style="width:100px")
          img.logo.logo-dark(alt="Foundry", src="/assets/images/afxlogo2-black.svg", style="width:100px")
        a(href="//cdnasyid.com")
          img.logo.logo-light(alt="CDNasyid", src="/assets/images/cdnasyid-white.svg", style="width:150px")
          img.logo.logo-dark(alt="CDNasyid", src="/assets/images/cdnasyid-black.svg", style="width:150px")
      .module.widget-handle.offscreen-toggle.right
        i.ti-menu
    .offscreen-container.bg-dark.text-center
      .close-nav
        a(href="#")
          i.ti-close
      .v-align-transform.text-center
        a(href="#")
          img.image-xs.mb40.mb-xs-24(alt="Logo", src="/assets/images/afxlogo-white.png")
        ul.mb40.mb-xs-24
          li.fade-on-hover
            a.inner-link(href="#top")
              h5.uppercase.mb8 Home
          li.fade-on-hover
            a.inner-link(href="#about")
              h5.uppercase.mb8 About
          li.fade-on-hover
            a.inner-link(href="#work")
              h5.uppercase.mb8 Work
          li.fade-on-hover
            a.inner-link(href="#clients")
              h5.uppercase.mb8 Clients
          li.fade-on-hover
            a.inner-link(href="#contact")
              h5.uppercase.mb8 Contact
        p.fade-half
          | B-3A-03, Neo Damansara
          br
          | Jalan PJU 8/1, Damansara Perdana,
          br
          | 47820 Petaling Jaya, Selangor, Malaysia
          br
          a(href="mailto:info@arteffectsinternational.com") info@arteffectsinternational.com
        ul.list-inline.social-list
          li
            a(href='https://www.facebook.com/arteffectsinternational/')
              span.soc-facebook
          li
            a(href='https://www.instagram.com/arteffectsint/')
              span.soc-instagram
          li
            a(href='https://twitter.com/arteffectsint')
              span.soc-twitter
          li
            a(href='https://www.youtube.com/user/ArteffectsSdnBhd')
              span.soc-youtube
          li
            a(href='https://vimeo.com/arteffectsinternational')
              span.soc-vimeo
    // end of offscreen container
