.nav-container
  a#top
  nav.absolute.transparent
    .nav-bar
      .module.left
        a(href="/", style="margin-right:20px")
          img.logo.logo-light(alt="Arteffects International", src="/assets/images/afxlogo2-white.png")
          img.logo.logo-dark(alt="Arteffects International", src="/assets/images/afxlogo2-black.png")
      .module.widget-handle.offscreen-toggle.right
        i.ti-menu
      .module-group.right
        .module.left
          ul.menu
            li
              a(href="//cdnasyid.com") CDNasyid

    .offscreen-container.bg-dark.text-xs-center
      .close-nav
        a(href="javascript:;")
          i.ti-close
      .v-align-transform.text-xs-center
        img.image-xs.m-b-3.m-b-xs-2(alt="Logo", src="/assets/images/afxlogo-white.png")
        ul.m-b-3.m-b-xs-2
          li.fade-on-hover.m-y-05
            a.inner-link(href="#top")
              h5.uppercase.m-b-0 Home
          li.fade-on-hover.m-y-05
            a.inner-link(href="#about")
              h5.uppercase.m-b-0 About
          li.fade-on-hover.m-y-05
            a.inner-link(href="#work")
              h5.uppercase.m-b-0 Work
          li.fade-on-hover.m-y-05
            a.inner-link(href="#cdnasyid")
              h5.uppercase.m-b-0 CD Nasyid
          li.fade-on-hover.m-y-05
            a.inner-link(href="#history")
              h5.uppercase.m-b-0 History
          li.fade-on-hover.m-y-05
            a.inner-link(href="#team")
              h5.uppercase.m-b-0 Team
          li.fade-on-hover.m-y-05
            a.inner-link(href="#contact")
              h5.uppercase.m-b-0 Contact
        p.fade-half
          | B-3A-03, Neo Damansara
          br
          | Jalan PJU 8/1, Damansara Perdana,
          br
          | 47820 Petaling Jaya, Selangor, Malaysia
          br
          a.text-white(href="mailto:info@arteffectsinternational.com") info@arteffectsinternational.com
        ul.list-inline.social-list
          li.list-inline-item
            a(href='https://www.facebook.com/arteffectsinternational/')
              span.soc-facebook
          li.list-inline-item
            a(href='https://www.instagram.com/arteffectsint/')
              span.soc-instagram
          li.list-inline-item
            a(href='https://twitter.com/arteffectsint')
              span.soc-twitter
          li.list-inline-item
            a(href='https://www.youtube.com/user/ArteffectsSdnBhd')
              span.soc-youtube
          li.list-inline-item
            a(href='https://vimeo.com/arteffectsinternational')
              span.soc-vimeo
    // end of offscreen container
