a#history
section.p-y-5.p-y-xs-4.bg-secondary.cd-horizontal-timeline
  .timeline
    .events-wrapper
      .events
        ol
          li
            a.selected(href="#0", data-date="2006-12-12", data-date-format="YYYY")
              span.date-display
          li
            a(href="#0", data-date="2007-12-12", data-date-format="YYYY")
              span.date-display
          li
            a(href="#0", data-date="2008-12-12", data-date-format="YYYY")
              span.date-display
          li
            a(href="#0", data-date="2009-12-12", data-date-format="YYYY")
              span.date-display
          li
            a(href="#0", data-date="2010-12-12", data-date-format="YYYY")
              span.date-display
          li
            a(href="#0", data-date="2011-12-12", data-date-format="YYYY")
              span.date-display
          li
            a(href="#0", data-date="2012-06-06", data-date-format="YYYY")
              span.date-display
          li
            a(href="#0", data-date="2012-11-24", data-date-format="MMM YYYY")
              span.date-display
          li
            a(href="#0", data-date="2013-02-23", data-date-format="MMM YYYY")
              span.date-display
          li
            a(href="#0", data-date="2013-12-12", data-date-format="YYYY")
              span.date-display
        span.filling-line(aria-hidden="true")
      // .events
    // .events-wrapper
    ul.cd-timeline-navigation
      li
        a.prev.inactive(href="#0") Prev
      li
        a.next(href="#0") Next
    // .cd-timeline-navigation
  // .timeline

  .events-content
    ol.list-unstyled
      li.selected(data-date="2006-12-12", data-date-format="YYYY")
        //- h6.uppercase
        //-   strong.date-display
        h2.raleway.m-b-3.date-display
        .content
          p Arteffects Production was established on 6th June 2006.
          p 
            | One of the first work of the company&mdash;commissioned to compose the 
            i corporate jingle of Takaful Ikhlas.

      li(data-date="2007-12-12", data-date-format="YYYY")
        //- h6.uppercase
        //-   strong.date-display
        h2.raleway.m-b-3.date-display
        .content
          p The company signed a distribution partnership with FMC Music.
          p Album: Hafiz Hamidun (Hafiz Hamidun)

      li(data-date="2008-12-12", data-date-format="YYYY")
        //- h6.uppercase
        //-   strong.date-display
        h2.enddot.raleway.m-b-3.date-display
        .content
          p
            | Malaysian Music Award (AIM) 2008
            ul
              li 
                span.label.label-winner WINNER
                |  Best Musical Arrangement in a Song (Last Breath / Hafiz Hamidun)
              li
                span.label.label-winner WINNER
                |  Best Pop Ethnic Album Producer (Album: Waheeda / Binafsha)
              li
                span.label.label-nomination NOMINATION
                |  Best Nasyid Album (Album: Hafiz Hamidun / Hafiz Hamidun)

          p
            | Music Authors Copyright Protection (MACP) Awards 2008
            ul
              li
                span.label.label-winner WINNER
                |  Best Song (Kau Yang Satu / Hafiz Hamidun)
              li
                span.label.label-winner WINNER
                |  Best Melody (Kau Yang Satu / Hafiz Hamidun)

      li(data-date="2009-12-12", data-date-format="YYYY")
        //- h6.uppercase
        //-   strong.date-display
        h2.enddot.raleway.m-b-3.date-display
        .content
          p Album: Hafiz Hamidun (Syukran)

          p
            | Anugerah Juara Lagu TV3 Ke 23
            ul
              li
                span.label.label-winner FINALIST
                |  Pop Ethnic (Dusta Berkalang / Aiman)

          p
            | Music Authors Copyright Protection (MACP) Awards 2009
            ul
              li
                span.label.label-winner WINNER
                |  Top Young Composer

          p
            | Malaysian Music Award (AIM) 2009
            ul
              li
                span.label.label-winner NOMINATION
                |  Best Pop Ethnic Song (Dusta Berkalang / Aiman)
              li
                span.label.label-nomination NOMINATION
                |  Best Pop Ethnic Album (Album: Aiman / Aiman)

      li(data-date="2010-12-12", data-date-format="YYYY")
        //- h6.uppercase
        //-   strong.date-display
        h2.enddot.raleway.m-b-3.date-display
        .content
          p Relocation to Bandar Tun Hussien Onn, Cheras, Selangor.

          p
            | Nur Kasih The Movie (Filmscape / Grand Brilliance)
            ul
              li Original Sound Track (Bertemu Cinta / Mila Jirin)
              li Film Scoring
              li Audio Mixing

          p
            | Malaysian Music Award (AIM) 2010
            ul
              li 
                span.label.label-winner NOMINATION
                |  Best Nasyid Album (Album: Syukran / Hafiz Hamidun)

      li(data-date="2011-12-12", data-date-format="YYYY")
        //- h6.uppercase
        //-   strong.date-display
        h2.enddot.raleway.m-b-3.date-display
        .content
          p Arteffects Sdn. Bhd. was established on 31st March 2011.
          p Relocation to Petaling Jaya, Selangor.

          p
            | Sesuatu Yang Tertinggal (Light Bulb / Grand Brilliance)
            ul
              li Sound Post Production
              li Film Scoring

          p
            | Album: Zikir Terapi Diri (Hafiz Hamidun)
            
      li(data-date="2012-06-06", data-date-format="YYYY")
        //- h6.uppercase
        //-   strong.date-display
        h2.enddot.raleway.m-b-3.date-display
        .content
          p Arteffects Sdn. Bhd. was established on 31st March 2011.
          p Relocation to Petaling Jaya, Selangor.

          p
            | Sembunyi: Amukan Azazil (Filmscape / Grand Brilliance)
            ul
              li Original Sound Track (Sayang / Aiman)
              li Sound Post Production
              li ADR
              li Film Scoring
              li Audio Mixing

          p
            | Juvana (Filmscape / Grand Brilliance)
            ul
              li Sound Post Production
              li ADR
              li Film Scoring
              li Audio Mixing

          p
            | Album Production
            ul
              li Zikir Terapi Munajat (Fitri Haris)
              li Asmaulhusna (Mawi)
              li Zikir Terapi Selawat (Imam Muda Najdi)

      li(data-date="2012-11-24", data-date-format="MMM YYYY")
        //- h6.uppercase
        //-   strong.date-display
        h2.enddot.raleway.m-b-3.date-display
        .content
          p Konsert Zikir Terapi Diri Hafiz Hamidun.
          ul
            li Venue: Dewan Perdana Felda, Kuala Lumpur
            li Date: 24th November 2012

      li(data-date="2013-02-23", data-date-format="MMM YYYY")
        //- h6.uppercase
        //-   strong.date-display
        h2.enddot.raleway.m-b-3.date-display
        .content
          p Konsert Zikir Terapi Diri Hafiz Hamidun.
          ul
            li Venue: Dewan Perdana Felda, Kuala Lumpur
            li Date: 24th November 2012

      li(data-date="2013-12-12", data-date-format="MMM YYYY")
        //- h6.uppercase
        //-   strong.date-display
        h2.enddot.raleway.m-b-3.date-display
        .content
          p
            | Album Production
            ul
              li Rahmatan Lil 'Alamin (Imam Muda Asyraf)
              li Zikir Terapi Diri 2 (Hafiz Hamidun)

  // .events-content
