section.p-y-5.p-y-xs-4.bg-secondary.cd-horizontal-timeline
  .timeline
    .events-wrapper
      .events
        ol
          li
            a.selected(href="#0", data-date="2006-06-06", data-date-format="MMM YY")
              span.date-display
          li
            a(href="#0", data-date="2006-12-28", data-date-format="MMM YY")
              span.date-display
          li
            a(href="#0", data-date="2007-12-28", data-date-format="MMM YY")
              span.date-display
          li
            a(href="#0", data-date="2009-05-28", data-date-format="MMM YY")
              span.date-display
          li
            a(href="#0", data-date="2010-01-28", data-date-format="MMM YY")
              span.date-display
          li
            a(href="#0", data-date="2012-01-28", data-date-format="MMM YY")
              span.date-display
          li
            a(href="#0", data-date="2015-12-24", data-date-format="MMM YY")
              span.date-display
        span.filling-line(aria-hidden="true")
      // .events
    // .events-wrapper
    ul.cd-timeline-navigation
      li
        a.prev.inactive(href="#0") Prev
      li
        a.next(href="#0") Next
    // .cd-timeline-navigation
  // .timeline

  .events-content
    ol.list-unstyled
      li.selected(data-date="2006-06-06", data-date-format="MMMM Do, YYYY")
        h6.uppercase
          strong.date-display
        h1.enddot.raleway.m-b-3 The Birth of Arteffects

        p
          | Hafiz Hamidun founded the original production company, Arteffects Production in 2006. Based in Shah Alam, Selangor, the rapid growth of the company made Hafiz realized the need of a bigger workplace.

      li(data-date="2006-12-28", data-date-format="MMMM Do, YYYY")
        h6.uppercase
          strong.date-display
        h1.enddot.raleway.m-b-3 Event title here

        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
          
      li(data-date="2007-12-28", data-date-format="MMMM Do, YYYY")
        h6.uppercase
          strong.date-display
        h1.enddot.raleway.m-b-3 Event title here

        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.

      li(data-date="2008-05-28", data-date-format="MMMM Do, YYYY")
        h6.uppercase
          strong.date-display
        h1.enddot.raleway.m-b-3 Event title here

        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
  // .events-content
